=simple_error_messages_for :categoriaarquivo
-tab :general do
  %table.full
    %tr
      %td.fixed=human_name_for :categoriaarquivo, :descricao
      %td=text_field :categoriaarquivo, :descricao
      