<h1>Biblioteca da Fatec Itu</h1>

<%= image_tag("biblioteca.jpg", :border => 0, :alt=> "Biblioteca da Fatec Itu") %>

<h2>Horário de Funcionamento</h2>
<p>Segunda, Terça, Quinta e Sexta-Feira:</p>

<h3> das 13h às 19h30 e das 20h30 às 22h. </h3>

<p> Quarta-Feira: </p>
<h3> das 9h às 12h e das 13h às 18h </h3>
