=simple_error_messages_for :categorianoticia
-tab :general do
  %table.full
    %tr
      %td.fixed=human_name_for :categorianoticia, :descricao
      %td=text_field :categorianoticia, :descricao
      