<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Fatec Itu - Fatec Dom Amaury Castanho - Ensino superior gratuito de qualidade</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">@import "style.css";</style>
<script type="text/javascript" src="myportal.js"></script>
</head>
<body>
<!--Begin Body Wrapper-->
<div id="bodywrap">
<!--Begin Header Logo-->
<div id="header">
</div>
<!--End Header Logo-->
<!--Begin Top Blue Navigation Menu-->
<div id="mainnav">
    <ul id="navlist">
      <li><a title="Página Inicial" href="http://www.fatecitu.edu.br">Início</a></li>
	  <li><a title="Nossos Cursos" href="http://www.fatecitu.edu.br">Cursos</a></li>
	  <li><a title="Nossa localização" href="http://www.fatecitu.edu.br">Como chegar</a></li>
	  <li><a title="Informações sobre o Vestibular" href="http://www.fatecitu.edu.br">Vestibular</a></li>
	  <li><a title="Entre em contato conosco" href="http://www.fatecitu.edu.br">Contato</a></li>
      
    </ul>
  </div>
<!--End Top Blue Navigation Menu-->
<!--Begin Middle Main Container-->
<div id="maincont">
<div id="content">
<!--Begin Middle Top Two Columns Div Element-->
<div class="col1">
&nbsp;<img src="images/hdbullet.gif" alt=""><span class="midtitle">Sobre a Fatec Itu</span>
<br />
<p>
<a class="pic_box" title="Leia a história completa" href="http://www.fatecitu.edu.br"><img src="images/fatec.jpg" style="height: 70px; weight: 70px; border: 0;" alt="Leia a história completa"></a>
A Fatec Dom Amaury Castanho (Fatec Itu) foi inaugurada no dia 28 de fevereiro de 2008 e contou com a presença do governador do Estado de São Paulo, José Serra. 
 <a title="Leia a história completa" href="http://www.fatecitu.edu.br">Leia mais...</a> <img src="images/arroworange.gif" alt=""></p>
</div>
<div class="col2">
&nbsp;<img src="images/hdbullet.gif" alt=""><span class="midtitle">Curso de Análise e Desenvolvimento de Sistemas</span>
<br />
<p>
<a class="pic_box" title="Curso de Análise e Desenvolvimento de Sistemas" href="http://www.fatecitu.edu.br"><img src="images/ads.png" style="height: 70px; weight: 70px; border: 0;" alt="Curso de Análise e Desenvolvimento de Sistemas"></a>
São oferecidas 40 vagas no período vespertino para a formação gratuita, nível superior em Tecnólogo em Análise e Desenvolvimento de Sistemas. <a title="Veja mais detalhes sobre o curso" href="http://www.fatecitu.edu.br">Leia mais...</a> <img src="images/arroworange.gif" alt=""></p>
&nbsp;<img src="images/hdbullet.gif" alt=""><span class="midtitle">Curso de Gestão da Tecnologia da Informação</span>
<br />
<p>
<a class="pic_box" title="Curso de Gestão da Tecnologia da Informação" href="http://www.fatecitu.edu.br"><img src="images/gestaoti.gif" style="height: 70px; weight: 70px; border: 0;" alt="Curso de Gestão da Tecnologia da Informação"></a> 
São oferecidas 40 vagas no período matutino e 40 vagas no período noturno para a formação gratuita, nível superior em Tecnólogo em Gestão da Tecnologia da Informação. <a title="Veja mais detalhes sobre o curso" href="http://www.fatecitu.edu.br">Leia mais...</a> <img src="images/arroworange.gif" alt=""></p>
</div>
<!--End Middle Top Two Columns Div Element-->
<!-- <div style="clear: both;"></div> -->
<!--Begin Headline News Middle Content-->
<div class="midcontainer">
<h2 class="midcont-title"><img src="images/news.gif"> Últimas Notícias</h2>
<ul>
<li><a href="http://www.fatecitu.edu.br">Confirmado o curso de tecnologia mecatrônica!</a></li>
<li><a href="http://www.ex-designz.net/lanews.asp">Inauguração da nova Fatec será em Maio!</a></li>
<li><a href="http://www.ex-designz.net/lanews.asp">Secretaria disponibiliza novo modelo de documento</a></li>
<li><a href="http://www.ex-designz.net/lanews.asp">Fatec Itu está agora no Orkut!</a></li>
<li><a href="http://www.ex-designz.net/lanews.asp">Biblioteca da Fatec Itu é informatizada!</a></li>

</ul>				
</div>
<!--End Headline News Middle Content-->
<!--Begin Middle Bottom Two Columns Div Element-->						
<div class="col3">
&nbsp;<img src="images/hdbullet.gif"><span class="midtitle">Vestibular Fatec Itu</span>
<br />
<p>
<a class="pic_box" title="Vestibular Fatec Itu" href="http://www.fatecitu.edu.br"><img src="images/logo-vestibular-fatec.png" style="height: 60px; weight: 50px; border: 0;" border="0" alt="Vestibular Fatec Itu"></a>
As inscrições para o vestibular do 2° Semestre de 2010 da Faculdade de Tecnologia (Fatec) de Itu estarão abertas a partir da próxima semana!
A primeira faculdade pública de Itu oferece 120 vagas distribuídas nos períodos da manhã, tarde e noite. Os cursos oferecidos no período matutino e noturno são o de Gestão da Tecnologia da Informação enquanto que no período vespertino o curso oferecido é o de Análise e Desenvolvimento de Sistemas.
As inscrições devem ser feitas exclusivamente pela internet! <a title="Vestibular Fatec Itu" href="http://www.fatecitu.edu.br">Maiores informações...</a> <img src="images/arroworange.gif" alt=""></p>
</div>
<div class="col4">
&nbsp;<img src="images/hdbullet.gif" alt=""><span class="midtitle">Secretaria Acadêmica</span>
<br />
<p>
<a class="pic_box" title="Concurso Público" href="http://www.fatecitu.edu.br"> <img src="images/concurso.jpg" style="height: 60px; weight: 50px; border: 0;" alt="Concurso Público"></a>
Estão abertas as inscrições para o concurso público para docente na disciplina de Física Nuclear. O manual do concursado já pode ser adquirido na secretaria acadêmica junto com o edital.<br /> <a title="Concurso Público" href="http://www.fatecitu.edu.br">Mais...</a> <img src="images/arroworange.gif" alt=""></p>
</div>
<!--Begin Middle Bottom Two Columns Div Element-->					
</div>
</div>
<!--End Middle Main Container-->
<!--Begin Rightside Panel-->
<div id="rightsidepanel">
<h2><img src="images/arrow_orange.gif" alt=""> Acesso Rápido</h2>
<ul>
<li><a href="http://www.fatecitu.edu.br">Área do Aluno</a></li>
<li><a href="http://www.fatecitu.edu.br">Área do Professor</a></li>
<li><a href="http://www.fatecitu.edu.br">Biblioteca</a></li>
<li><a href="http://www.fatecitu.edu.br">Coordenação</a></li>
<li><a href="http://www.fatecitu.edu.br">Diretoria</a></li>
<li><a href="http://www.fatecitu.edu.br">Fórum</a></li>
<li><a href="http://www.fatecitu.edu.br">Jornal</a></li>
<li><a href="http://www.fatecitu.edu.br">Secretaria Acadêmica</a></li>
<li><a href="http://www.fatecitu.edu.br">Revista Eletrônica</a></li>
<li><a href="http://www.fatecitu.edu.br">Vestibular</a></li>

</ul>


<!--Begin Newsletter Form-->
<form name="newsletter" id="newsletter" method="post" action="processnewsletter.asp">
<div class="newsletter">
<div class="newsletterheader"><img src="images/icon_newsletter.gif" style="vertical-align:middle;" alt=""> Assine a nossa newsletter!</div>
<div style="padding-left: 4px;">
<span class="rsidespan">Nome:</span><br />
<input onfocus="clearDefault(this)" type="text" name="nname" class="newsletfield" value="" size="20" />
<br />
<span class="rsidespan">E-mail:</span><br />
<input onfocus="clearDefault(this)" type="text" name="nemail" class="newsletfield" value="" size="30" />
<br />
<input type="Submit" title="Clique para assinar a nossa newsletter semanal" Name="SubNewsLetter" value="Enviar" class="submit" />
</div>
</div>
</form>
<!--End Newsletter Form-->
<h3><img src="images/arrow_orange.gif"> Últimos artigos</h3>
<div style="padding-left: 2px; padding-top: 6px; margin-bottom: 10px;">
<img src="images/arrowred.gif" alt=""> <a href="http://www.fatecitu.edu.br">Rails: Um diferencial no desenvolvimento web</a><br />
<img src="images/arrowred.gif" alt=""> <a href="http://www.fatecitu.edu.br">Como a estatística pode ajudar o administrador de TI?</a><br />
<img src="images/arrowred.gif" alt=""> <a href="http://www.fatecitu.edu.br">A obsessão pela Internet</a><br />

</div>
<!--Begin Advertisement-->
<h3><img src="images/arrow_orange.gif"> Parcerias</h3>
<div class="adspic">
<img src="images/adsheader.gif" border="0" alt="">
<br />
<a class="pic_box" href="http://www.itu.sp.gov.br"><img src="images/prefeitura-itu.gif" height="90" weight="90" border="0" alt="Prefeitura de Itu"></a>
<br />
<a class="pic_box" href="http://www.unesp.edu.br"><img src="images/logo_unesp.gif" height="30" weight="30" border="0" alt="Unesp"></a>
</div>
<!--End Advertisement-->
</div>
<!--End Rightside Panel-->
<!--Begin Footer-->
<div id="footer">
<a href="http://www.ex-designz.net">Home</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
                                    Início</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
                                    Cursos</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
									Como chegar</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
									Artigos</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
									Vestibular</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
									Contato</a>&nbsp;|&nbsp;<a href="http://www.fatecitu.edu.br">
									
<br />
Copyright &#169; 2008 - 2010 Faculdade de Tecnologia de Itu. Todos os direitos reservados.</a>		
</div>
<!--End Footer-->
</div>
<!--End Body Wrapper-->
</body>
</html>

